.rootCont {
    background-color: white;
    margin-top:10%;
    height: fit-content;
    padding-bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.div1 {
    width: 25%;
}

.div2 {
    width: 20%;
}

.div4 {
    width: 25%;
}

.abtHead{
    color: black;
    font-family: "Josefin Sans", Arial, sans-serif;
    font-size: 25px;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.abtText{
    color: black;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: justify;
    font-weight: 300;
    padding:0px 15px 0px 15px;
}
.abtText:hover{
    color:orange;
}

.accCont{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-top: 30px;
    cursor: pointer;
}

.accIcon{
    height: 50px;
    width:50px;
}

.linksCont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links{
    text-decoration: none;
    color: black;
    font-size:20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 15px;
}

.links:hover{
    color: orange;
    cursor: pointer; 
    transition: all 400ms ease;
}

.contactLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
}

.contactIcon{
    height: 30px;
    width: 30px;
}

.contactText{
    color: black ;
    font: 16px "Poppins", sans-serif;
    font-weight: 400;
    margin-left: 10px;
    overflow: auto;
}
@media(max-width:900px){
    .abtHead{
        font-size: 20px;
    }
    .contactText{
        font-size: 13px;
    }
    .links{
        font-size: 18px;
    }
    .abtText{
        font-size: 13px;
    }
}

@media(max-width:550px){
    .rootCont{
        flex-direction: column;
        align-items: center;
    }
    .div1,.div2,.div4{
        width: 80%;
    }
}