.rootCont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    width: 500px;
    margin-top: 20px;
} 

.login h1 {
    margin-bottom: 20px;
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

.inputField{
    width: 90%;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 250px;
}

.navCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 30px;
}

.aTag:hover{
    text-decoration: none;
    color: red;
    font-size: 20px;
}

.fPass{
    color: blue;
}

.fPass:hover{
    color:red;
    text-decoration: none;
    cursor: pointer;
}