.rootCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#fc9469;
}

.head {
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    color: white;
}

.form {
    width: 80%;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.btn{
    width: 200px;
    height: 50px;
    border: 2px solid white;
    font-size: 20px;
    transition: all 0.6s ease 0s;
    margin-bottom: 30px; 
    border-radius: 35px;
}

.btn:hover{
    cursor: pointer;
    background-color: #fc9469;
    color: white;
}