
.col2{
    display: flex;
    flex-direction: row;
    margin-right: 20%;
    flex-direction: row-reverse;
  }
  .imgrow{
    height: 200px;
  }
  .first{
    width: 20%;
    display: flex;
    flex-direction: row;
  }
@media screen and (max-width:680px){
  
      .col2{
        display: flex;
        flex-direction: column;  
      }
      .first{
        margin-left: 15%;
      }
      
     

  }
  @media screen and (min-width:700px) and (max-width:780px){
  
    .col2{
      display: flex;
      flex-direction: column; 
      margin-top:190%;
      padding:20px;
    }
  
}
@media screen and ( max-width:880px){
  
  .col2{
    margin-top:1%;
    display: flex; 
    flex-direction: column;
    margin-left:90%;
  }
  .first{
    margin-left: 15%;
  }
  
  
}
@media screen and (max-width:1200px){
  
  .col2{
    padding:20px;
    margin-left: 1%;
  }
 
  
}

@media screen and (max-width:1500px){
  .log{
    margin-left: 10%;
  }
  .first{
    margin-left: 15%;
  }
  .seconds{
    visibility: hidden;
  }
  
}
