.rootCont {
  width: 100%;
  height: 85vh;
  background-color: #fc9464;
}

.head {
  color: white;
  padding-top: 20px;
  font-size: 45px;
  text-align: center;
}

.researchesCont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10%;
}

.research {
  height: 450px;
  overflow: auto;
  width: 25%;
  padding: 20px;
}

.rHead {
  text-align: center;
  color: white;
  font-size: 25px;
  border-bottom: 2px solid white;
  padding-bottom: 20px;
}

.rDesc {
  color: white;
  font-size: 18px;
  text-align: justify;
}

.icon {
  color: white;
}

@media (max-height: 820px) {
  .rootCont {
    height: max-content;
  }
}

@media (max-width: 980px) {
  .researchesCont {
    flex-direction: column;
    align-items: center;
  }
  .research {
    width: 60%;
  }
  .rootCont {
    height: max-content;
  }
}

@media (max-width: 400px) {
  .research {
    width: 90%;
  }
}
