.top{
    width:'100%';
    display:'flex';
    /* flex-direction:'column'; */
    justify-content: 'center';
  }
.cal{
    margin-left: 10%;
}
@media screen and (max-width: 800px) {
    .data{
        width: 100%;
    }
    .cal{
        flex-direction: column;
    }
}