.rootCont{
    padding-top: 200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.requestCont{
    width: 300px;
    height: 300px;
    border:1px solid;
    margin-bottom: 30px;
    padding: 20px 10px;
}

.text{
    margin-bottom: 8px;
}

.actionsCont{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    color:green;
}