
.rootCont{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}

.spacer{
    width:35%;
    height: 100vh;
    background-color: white;
}

.saveBt{
    position: fixed;
    z-index: 1200;
    width: 140px;
    background-color: #F42F2C;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    border: 0px;
    padding: 10px;
    transition: all 0.6s ease 0s;
}

.saveBt:hover {
    color: white;
    background-color: red;
    transition: all 0.6s ease 0s;
    cursor: pointer;
}

 @media(max-width:370px){
    .spacer{
        width: 100%;
    }

}
