.rootCont {
    width: 35%;
    height: 100vh;
    background-color: white;
    color: orange;
    position: fixed;
    z-index: 400;
}

.edPannel {
    font: 45px 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 100px;
}

.close {
    font: 15px 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 100px;
    margin-right: 10px;
}

.edPannelText {
    font: 25px 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 100px;
}

@media(max-width:500px) {
    .rootCont {
        width: 100%;
    }
}