.rootCont {
    width: 33%;
    max-height: 525px;
    background-color: white;
    color: orange;
    position: fixed;
    z-index: 400;
    overflow-y: scroll;
    padding:10px;
    padding-bottom: 30px;
}

.edPannel {
    font: 45px 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.close {
    font: 15px 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 10px;
}

.edPannelText {
    font: 25px 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 100px;
}

@media(max-width:500px) {
    .rootCont {
        width: 100%;
    }
}