.topnav {
    overflow: hidden;
    height: 15vh;
    margin-top: 100px;
    width: 100%;
    text-align: center;
}

.home {
    margin-left: 25%;
}

.accCont {
    display: flex;
    width: 80%;
    margin-left: 15%;
    cursor: pointer;
}

.accIcon {
    padding: 5%;
    height: 40px;
    width: 40px;
    top: 1%;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 20px;
    padding-top: 40px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: grey;
    color: white;
}