.cont {
    padding-top: 180px;
}

.rootCont {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.login {
    width: 500px;
    height: fit-content;
}

.login h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

.inputField {
    width: 90%;
}

.btn {
    width: 50%;
}

.input:focus {
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 330px;
    border: 2px solid black;
    padding-bottom: 30px;
}

.navCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

.aTag:hover {
    text-decoration: none;
    color: red;
    font-size: 20px;
}

@media(max-width:600px) {
    .login {
        width: 400px;
    }
}

@media(max-width:420px) {
    .login {
        width: 250px;
    }
}