.img {
    height: 200px;
    width: 100%;
}

.headCont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding: 0;
    margin: 7px 0px 0px 0px;
}

.price {
    font-size: 22px;
    color: red;
    text-align: center;
    margin: 4px 0px 0px 0px;
}

.discCont{
    padding:20px 0px 0px 20px;
}

.btnCont{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn {
    width: 150px;
    height: 40px;
    background-color: white;
    border: 2px solid black;
    font-size: 15px;
    transition: all 0.6s ease 0s;
}

.btn:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}