.rootCont{
    margin-top: 100px;
}

.center{
    text-align: center;
    font-size: 80px;
}

.optionsCont{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;  
    padding: 0px 30px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option{
    width: 25%;
    min-width: 280px;
    height: 300px;
    border: 1px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.option:hover{
    background-color: lightgrey;
}

.icon{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textStyle{
    font-size: 30px;
}

.logout{
    color: red;
    font-size: 20px;
}

.logout:hover{
    cursor: pointer;
}

@media(max-width:600px){
    .center{
        font-size: 50px;
    }
}