.rootCont {
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.imgCont{
    width: 100%;
    display: flex;
    justify-content: center;
}

.img {
    height: 250px;
    width: 300px;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    margin: 7px 0px 0px 0px;
}

.price {
    color: red;
    text-align: center;
    margin: 4px 0px 0px 0px;
}

.btnCont {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}

.btn {
    width: 70px;
    height: 30px;
    background-color: white;
    border: 2px solid black;
    font-size: 15px;
    transition: all 0.6s ease 0s;
}

.btn:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}
