.rootCont {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verifyUserCont {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.verifyForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 250px;
}

.input {
    width: 300px;
}

.inCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aTag {
    margin-top: 10px;
    padding: 0;
}

.aTag:hover {
    cursor: pointer;
    color: red;
    text-decoration: none;
}

@media(max-width:400px){
    .verifyForm h1{
        font-size: 30px;
    }
    .input{
        width: 80%;
    }
}