.rootCont{
    padding-top:200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1 {
    margin-bottom: 20px;
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    border: 1px solid black;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80%;
}

.input{
    width: 80%;
    margin-bottom: 15px !important;
}