.row31 {
    display: flex;
    margin-left: 10%;
    padding: 2%;
}

.row41 {
    display: flex;
    flex-direction: column;
}

.row32 {
    margin-left: 3%;
}

.imgresize {
    height: 190px;
}

.toprow {
    display: flex;
}

.travel {
    margin-left: 10%;
}

.text9 {
    color: orange;
}

@media screen and (min-width:500px) and (max-width:699px) {
    .toprow {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }
}

@media screen and (min-width:700px) and (max-width:799px) {
    .toprow {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width:800px) and (max-width:1100px) {
    .row31 {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width:1201px) and (max-width:1800px) {
    .toprow {
        padding: 5%;
    }
}