.rootCont {
    margin-top: 100px;
}

.head {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    font-family: "Poppins";
}

.head2 {
    font-size: 20px;
    font-family: "Poppins";
    margin: 20px;
}

.methodsCont {
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 100%;
    height: 180px;
    justify-content: space-around;
}

.method {
    width: 200px;
    height: 90%;
    border: 1px solid #f2f4f7;
    border-radius: 10%;
    display: flex;
    flex-direction: row;
    background-color: #f2f4f7;
    color: grey;
}

.methodText {
    font-weight: bold;
    color: inherit;
    margin: 0;
    padding: 0;
}

.method:hover {
    background-color: white;
    border-color: #14DBEE;
    color: #14DBEE;
    cursor: pointer;
}

.selected {
    width: 200px;
    height: 90%;
    border: 1px solid;
    border-radius: 10%;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-color: #14DBEE;
    color: #14DBEE;
}

.methodCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkedCont {
    width: 10%;
    display: flex;
    justify-content: flex-end;
}

.creditCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6772e5;
    width: 80%;
}

.ccCont {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.jcCont {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    height: max-content;
}

.jazzcash {
    width: 80%;
    background-color: rgba(247, 0, 0, 0.808);
    display: flex;
    flex-direction: column;
}

.desc {
    font-size: 16px;
    color: white;
    margin: 30px;
}

.btnCont {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.input {
    margin: 10px 30px 0px 30px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid white;
    width: 60%;
    color: white;
    padding: 5px 5px 10px 5px;
}

.input:focus {
    outline: none;
}

@media (max-width:400px) {
    .creditCard {
        width: 100%;
    }
}