.rootCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:90vh;
}

.login {
    width: 500px;
    margin-top: 20px;
} 

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 250px;
}

.aTag:hover{
    text-decoration: none;
    color: red;
    font-size: 20px;
}

.fPass{
    color: blue;
}

.fPass:hover{
    color:red;
    text-decoration: none;
    cursor: pointer;
}

.login h1 {
    margin-bottom: 20px;
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

.inputField{
    width: 90%;
}

.subdomainCont{
    width: 90%;
}