.rootCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.researchlayer{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 400px;
    padding: 8%;
    
}
.research{
    display: flex;
    justify-content: space-between;
    height: 400px;
    background-color: rgb(249,249,249);
    padding: 5%;
    text-align: justify;
}
.researchtext{
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.removeimg:hover{
   cursor:pointer;
}
@media only screen and (max-width: 650px) {
   
    .researchlayer{
        width: 100%;
    }
}