.row{
    display: flex;
}
.pc1{
    display: flex;
    margin-top:5%;
    margin-left: 15%;
    font-family: "Unna", serif;
    font-size: 30px;
}
.cat{
    color:black;
}
.caat{
    color:orange;
}
.abou{
    margin-top:12%;
    margin-left:35%;
    font-weight: 400;
    font-family: "Unna", serif;
    font-size: 20px; 
    
}
.recipe3{
    padding:5px;
    display: flex;
    flex-direction: column;

}
.pc2{
    display: flex;
    margin-left: 15%;
    font-family: "Unna", serif;
    font-size: 20px;
    
}
.buton{
    margin-top:5%;
    margin-left:28% ;
}
.recipe1{
    display: flex;
    flex-direction: column;
    padding:10px;
    width:25%;
}
.recipe2{
    display: flex;
    flex-direction: column;
    padding:10px;
    width:25%;
}
.recipe3{
    display: flex;
    flex-direction: column;
    width:25%;
    padding:10px;
}
.link{
    color:grey;
}
.recipe{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 20%;
}

.imge{
   
    height: 150px;
}
.rp1text:hover{
    filter: blur(0px);
    -webkit-filter: blur(0px);
    border: 3px solid #f1f1f1;
    background-color: white;
}
.rp1text{
    margin-top: 10%;
    margin-left: 1%;
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);
    align-content: center;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width:20%;
    height: 50%;
    font-family: "Unna", serif;
    font-size: 20px;
}
.toprecipe{
    display: flex;
    flex-direction: column;
}
.rootCont{
    display: flex;
    flex-direction: row;
}

.spacer{
    width:35%;
    height: 100vh;
    background-color: white;
}
@media (max-width:650px){
    .abou{
        margin-right: 15%;
    }
    .rp1text{
        margin-right: 1%;
    }
    .follow{
        width: 50%;
    }
    }
@media (max-width:700px){
    .abou{
        margin-right: 15%;
    }
    .rp1text{
        width:60%;
        margin-right: 1%;
        height: 70%; 
        font-size: 13px;
    }
    }
@media (max-width:900px){
.rp1{
 margin-top: 10%;
}


}