.rootCont{
    height: max-content;
    padding: 100px;
}
.head{
    font-size: 50px;
    font-family: 'Anton', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.headCont{
    padding-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.para{
    font-size: 20px;
    width: 70%;
    text-align: center;
}
