.intro-cont{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 450px;
    background-color: orange;
}

.intro-text{
    text-align: center;
    padding:30px 0px 20px 30px;
}

.banner-img{
    height: 200px;
    width:300px;
}

.intro-banner{
    padding:50px;
    background-color: white;
    width: fit-content;
    border:1px solid white;
    border-radius: 50%;
}

.intro-head{
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    color: white;
}

.intro-para{
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;    
}


@media(max-width:970px){
    .intro-cont{
        height: 530px;
    }
}

@media(max-width:729px){
    .intro-head{
        font-size: 50px;
    }
    .intro-cont{
        height: 400px;
    }
    .intro-para{
        font-size:16px;
    }
}

@media(max-width:616px){
    .banner-img{
        height: 150px;
        width:250px;
    }
    .intro-cont{
        height: 430px;
    }
}

@media(max-width:366px){
    .intro-banner{
        padding:40px;
    }
    .intro-head{
        font-size:40px;
    }
    .banner-img{
        height: 100px;
        width:200px;
    }
    .intro-cont{
        height: 350px;
    }
}