.rootCont{
    background-image: url('./blackbg.jpg');
    height: fit-content;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: 140px;
}

.mainHeadCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    align-items: center;
}

.topCont{
    display: flex;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mainHead{
    font: 40px "Josefin Sans", Arial, sans-serif;
    color: white;
    text-transform: uppercase;
}
 
.mainText {
    font: 15px 'Poppins', sans-serif;
    color: white;
    font-weight: 400;
    line-height: 1.8;
    width: 50%;
    text-align: center;
    margin-top: 30px;
}

.dishesCont{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}


@media(max-width:790px){
    .dishesCont{
        flex-direction: column;
        align-items: center;
    }
}