.templateCont{
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.tempImg{
    height: 180px;
    width: 250px;
}
.tempHead{
    font-size: 20px;
    font-family: sans-serif;
}
.option{
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    margin: 0;
}
.option:hover{
    color: red;
    cursor: pointer;
}
.optionCont{
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.delIcon:hover{
    cursor: pointer;
}

.tempRoot{
    display: flex;
    flex-direction: column;
    width: 90%;
}