.innerlayer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coverlayer {
    margin-top: 2%;
    width: 99%;
    height: 450px;
    background-image: url('./frontimage.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.researchlayer {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 400px;
    padding: 8%;
}

.research {
    display: flex;
    justify-content: space-between;
    height: 400px;
    background-color: rgb(249, 249, 249);
    padding: 5%;
}

.researchtext {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

.calendar {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 60%;
    padding: 0 !important;
}

.rootCont {
    display: flex;
    flex-direction: row;
}

.spacer {
    width: 35%;
    height: 100vh;
    background-color: white;
}

.fronttext {
    padding: 20px;
    text-align: justify;
}

@media only screen and (max-width: 770px) {
    .calendar {
        margin-top: 150%;
    }
    .researchlayer {
        width: 100%;
    }
    .butn {
        width: 70%;
    }
}

.saveBt{
    position: fixed;
    z-index: 1200;
    width: 140px;
    background-color: #F42F2C;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    border: 0px;
    padding: 10px;
    transition: all 0.6s ease 0s;
}

.saveBt:hover {
    color: white;
    background-color: red;
    transition: all 0.6s ease 0s;
    cursor: pointer;
}