.rootCont {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.head {
    text-align: center;
    font-size: 60px;
    font-weight: 800;
}

.form {
    width: 80%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.btn{
    width: 200px;
    height: 50px;
    background-color: white;
    border: 2px solid black;
    font-size: 20px;
    transition: all 0.6s ease 0s;
}

.btn:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}