.info{
    margin-top: 5% ;
    display: flex;
    justify-content: center;
}
.inpu{
    width:30%;
    margin-left: 5%;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13%;
    margin-bottom: 5%;
    width:100%;
}
.inputflie{
    width:30%;
}
.root{
    margin-top: 5%;
    width: 60%;
    height: auto;
    /* margin-left: 25%; */
    padding: 1%;
}
.contactIcon{
    height: 30px;
    width: 30px;
}
.div4 {
    width: 40%;
}

.contactText{
    color: black ;
    font: 16px "Poppins", sans-serif;
    font-weight: 400;
    margin-left: 25%;
    overflow: hidden;
}
.contactLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .inpu{
        width:50%;
    }
    .info{
        margin-left: 30%;
        flex-direction: column;
    }
    .root{
        width: 100%;
    }
    .div4{
        width: 100%;
    }
    }
@media screen and (max-width: 600px) {
.inpu{
    width:50%;
}
.info{
    margin-left: 30%;
}
.div4{
    overflow: hidden;
}
}
@media screen and (max-width: 300px) {
    .inpu{
        width:70%;
    }
    .info{
        margin-left: 10%;
    }
    }