.welcome {
    font-size: 50px;
    font-family: "Poppins";
    font-weight: 900;
    text-align: center;
    margin-top: 50px;
    text-transform: capitalize;
    margin-top: 100px;
}

.headerCont{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sectionTemp {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.tempsCont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btCont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.head {
    font-size: 20px;
    font-family: sans-serif;
}

.btt {
    margin-top: 30px;
    padding: 15px;
    color: white;
    background-color: rgba(255, 0, 0, 0.685);
    font-size: 20px;
    border: none;
    border-radius: 2%;
}

.btt:hover {
    background-color: red;
    cursor: pointer;
}

.plan{
    font-size: 20px;
    font-family: "Poppins";
}

@media(max-width:600px) {
    .btCont {
        flex-direction: column;
    }

    .headerCont{
        flex-direction: column;
    }

    .welcome{
        margin-top: 30px;
    }
}

.rootCont{
    margin-top: 100px;
}

.center{
    text-align: center;
    font-size: 80px;
}

.optionsCont{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;  
    padding: 0px 30px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option{
    width: 25%;
    min-width: 280px;
    height: 300px;
    border: 1px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.option:hover{
    background-color: lightgrey;
}

.icon{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textStyle{
    font-size: 30px;
}

.logout{
    color: red;
    font-size: 20px;
}

.logout:hover{
    cursor: pointer;
}

@media(max-width:600px){
    .center{
        font-size: 50px;
    }
}