.info{
    margin-top:5% ;
    margin-left: 40%;
    }
.inpu{
       width:30%;
    }
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
    margin-bottom: 5%;
    width:100%;
}

.inputflie{
    width:30%;
}

@media screen and (max-width: 800px) {
    .inpu{
        width:50%;
    }
    .info{
        margin-left: 30%;
    }
    }
@media screen and (max-width: 600px) {
.inpu{
    width:50%;
}
.info{
    margin-left: 30%;
}
}
@media screen and (max-width: 300px) {
    .inpu{
        width:70%;
    }
    .info{
        margin-left: 10%;
    }
    }