.topnav {
    height: 10vh;
    width: 90%;
    padding-top: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.topnav a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 15px;
}

.topnav a:hover {
    color: rgb(177, 177, 177);
}

.topnav a.active {
    background-color: grey;
    color: white;
}