.rootCont{
    padding-top: 200px;
}

.btnCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn{
    width: 200px;
    height: 50px;
    background-color: white;
    border: 2px solid black;
    font-size: 20px;
    transition: all 0.6s ease 0s;
}

.btn:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.price {
    color: red;
    font-size: 30px;
    text-align: center;
    margin: 4px 0px 0px 0px;
}